.article-image {

    img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .caption {
        p {
            font-size: 16px;
            line-height: 20px;
            padding: 17px 0;
            border-bottom: 1px solid rgba($dark-grey, .33);
        }
    }
}