.related-articles {
    padding: 32px 0 60px;
    @include media-breakpoint-up(lg) {
        padding: 90px 0 100px; 
    }

    &__heading {
        margin-bottom: 45px;
        @include media-breakpoint-up(lg) {
            margin-bottom: 60px;
        }
    }

    .article-card {
        .image-wrap {
            @include media-breakpoint-up(lg) {
                overflow: hidden;
    
                img {
                    transform: scale(1);
                    transition: transform ease 900ms;
                }
    
                &:hover img {
                    transform: scale(1.1);
                }
            }
        }

        .details {
            background: $beige-2;
        }
    }
}