.hero-slider {

    &__overlay {
        background: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 20%), linear-gradient(to right, rgba(0,0,0,0.75) 0%, rgba(0,0,0,0.25) 90%);

        @include media-breakpoint-up(lg) {
            background: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 20%), linear-gradient(to right, rgba(0,0,0,0.75) 0%, rgba(0,0,0,0) 43%);
        }
    }

    &__main {
        background: $dark-grey;

        .details {
            padding: 134px 0 84px;
            &.topbar-active { padding-top: 184px; }
    
            @include media-breakpoint-up(lg) {
                padding: 163px 0 175px;
                &.topbar-active { padding-top: 213px; }
            }
    
            .subheading {
                font-size: 14px;
                line-height: 22px;
                letter-spacing: 1px;
                margin-bottom: 30px;
            }
    
            .heading {
                font-size: 41px;
                line-height: 43px;
                margin-bottom: 35px;
                max-width: 690px;
                
                @include media-breakpoint-up(xl) {
                    font-size: 65px;
                    line-height: 70px;
                }
            }

            .description {
                max-width: 690px;
                font-size: 16px;
                line-height: 30px;
                @include media-breakpoint-down(md) {
                    font-size: 18px;
                    line-height: 34px;
                }
                p { color: inherit; }
            }
    
            .c-btn {
                margin-top: 15px;
            }

            .slick-arrows {
                margin-right: 10px;
                .arrow--next {
                    transform: scale(-1);
                }
                .arrow--prev {
                    margin-right: 30px;
                }
            }
        }
    }


    &__thumbs {
        width: 70%;
        max-width: 950px;
        margin-top: -120px;
        margin-left: auto;

        .thumb {
            margin-left: 15px;
            height: 196px;
            overflow: hidden;

            img {
                transform: scale(1);
                transition: transform ease-in-out 700ms;
            }

            &:hover img {
                transform: scale(1.07);
            }

            .details {
                padding: 0 20px 30px;

                &:before {
                    content: '';
                    @include absolute-fill;
                    background: linear-gradient(to top, rgba($black,0.7), rgba($black, 0));
                }

                .heading {
                    font-size: 17px;
                    line-height: 20px;
                    min-height: 41px;
                    padding-left: 50px;
    
                    &::before {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 39px;
                        height: 39px;
                        background-image: url('#{$images}/icons/article--white.svg');
                        background-repeat: no-repeat;
                        background-size: 100%;
                    }

                    &--event::before {
                        background-image: url('#{$images}/icons/event--white.svg');
                    }
                }

                .time {
                    flex: 0 0 55px;
                    font-size: 13px;
                    line-height: 14px;
                }
            }

        }
    }

}