.locations {
    padding: 0px;

    @include media-breakpoint-up(lg) {
        padding: 25px 0;
    }

    .locations__filter {
        margin-bottom: 30px;
        @include media-breakpoint-up(lg) {
            margin-bottom: 60px;
        }
    
        &__subheading {
            margin-bottom: 0;
            font-size: 13px;
            line-height: 17px;
            letter-spacing: 1px;
            color: $body-text;
            
            @include media-breakpoint-up(lg) {
                font-size: 14px;
                line-height: 22px;
                margin-bottom: 11px;
            }
        }
    }

    .js-locations-grid-container {
        opacity: 1;
        transition: opacity ease 400ms;
        
        &.is-faded {
            opacity: 0;
        }
    }

    // When module shows dropdown filter on desktop
    &.dropdown {
        padding-bottom: 75px;
        
        @include media-breakpoint-up(lg) {
            padding-bottom: 120px;
        }
    }

    // When module shows pill buttons on desktop
    &.buttons {
        padding-bottom: 50px;

        @include media-breakpoint-up(lg) {
            padding-bottom: 100px;

            .locations__filter--dropdown {
                display: none;
            }            
        }

    }


    // Applies when module shows all locations without a filter.
    &--show-all {
        margin-bottom: 75px;
        @include media-breakpoint-up(lg) {
            margin-bottom: 0;
        }
    
        .region {
            .subheading {
                padding: 0 30px;
                font-size: 13px;
                letter-spacing: 1px;
    
                @include media-breakpoint-up(lg) {
                    padding-left: 63px;
                }
            }
    
            .c-accordion {
                background: $beige;
                @include media-breakpoint-up(lg) {
                    border-bottom: 0;
                    padding-top: 0;
                    padding-bottom: 60px;
                    
                    &__toggle {
                        display: none;
                    }
    
                    &__title {
                        font-size: 43px;
                        line-height: 45px;
                        padding-left: 30px;
                    }
                }
            }
    
            &__posts {
                opacity: 0;
                visibility: hidden;
                max-height: 0;
                background: $beige-2;
                width: 100%;
    
                &.is-active {
                    opacity: 1;
                    visibility: visible;
                    max-height: 10000px;
                    padding-top: 35px;
                    margin-bottom: 35px;
                }
                
                @include media-breakpoint-up(lg) {
                    width: 100%;
                    opacity: 1;
                    visibility: visible;
                    max-height: none;  
                    padding-top: 0;
                    margin-bottom: 60px;  
                    background: $beige;
                }
            }

            &__load-more {
                padding: 0 15px 50px;

                @include media-breakpoint-up(lg) {
                    padding-bottom: 0;
                }

                .c-btn {
                    background: transparent;
                }
            }
    
            .location-card {
                background: $beige-2;
                .details {
                    background: $beige-2;
                }
    
                @include media-breakpoint-up(lg) {
                    background: $beige;
                    .details {
                        background: $beige;
                    }
                }
            }
    
            &--one-location {
                .c-accordion {
                    margin-right: -30px;
                    margin-left: -30px;
                }
    
                .location-card {
                    @include media-breakpoint-down(md) {
                        margin-bottom: 0;
                        max-width: 100%;
                        flex: 0 0 100%;
    
                        &__inner {
                            opacity: 0;
                            visibility: hidden;
                            max-height: 0;
                            max-width: 46%;
                
                            &.is-active {
                                opacity: 1;
                                visibility: visible;
                                max-height: 10000px;
                                padding-top: 35px;
                                margin-bottom: 35px;
                            }
                        }
                    }
                    @include media-breakpoint-down(sm) {
                        &__inner {
                            max-width: 100%;
                        };
                    }
    
                }
            }
        }
    }
}

