.vacancy {
    padding-bottom: 37px;
    margin-bottom: 41px;
    border-bottom: 1px solid #E4DACE;

    @include media-breakpoint-up(lg) {
        padding-bottom: 42px;
        margin-bottom: 50px;
    }

    &:last-of-type() {
        border-bottom: 0;
    }

    .thumb {
        position: absolute;
        top: 0;
        left: 0;
        width: 53px;
        height: 53px;
        object-fit: cover;

        @include media-breakpoint-up(lg) {
            position: static;
            width: 91px;
            height: 91px;
            margin-right: 55px;
        }
    }

    .details {
        
        .title {
            min-height: 53px;
            padding-left: 75px;
            margin-bottom: 20px;
            font-size: 16px;
            line-height: 22px;

            @include media-breakpoint-up(lg) {
                padding-left: 0;
                min-height: 0;
            }
            
            .heading {
                font-size: 16px;
                line-height: 22px;

                @include media-breakpoint-up(lg) {
                    font-size: 20px;
                }
            }

            .location {
                @include media-breakpoint-up(lg) {
                    font-size: 20px;
                    line-height: 22px;
                    padding-left: 28px;
                    position: relative;
                    top: 1px;
                }
            }
        }

        .description {
            font-size: 15px;
            line-height: 28px;
            margin-bottom: 30px;

            @include media-breakpoint-up(lg) {
                padding-right: 55px;
                font-size: 16px;
                line-height: 34px;
                margin-bottom: 0;
            }
        }

        .button {
            @include media-breakpoint-up(lg) {
                flex: 0 0 210px;
                margin-top: 10px;
            }
        }
    }
}