.c-cookie-banner {
    position: fixed;
    left: 50%;
    bottom: 0;
    width: 100%;
    z-index: $z-modal;
    transform: translateX(-50%);
    background: $dark-grey;
    color: $white;
    padding: 15px 30px 20px;
    opacity: 0;
    visibility: hidden;
    max-height: 0;
    transition: all ease 500ms;
    
    &.is-active {
        opacity: 1;
        visibility: visible;
        max-height: 200px;
    }
    
    @include media-breakpoint-up(lg) {
        padding: 25px 30px;
        width: 75%;
        max-width: 1064px;
    }

    &__text {
        margin-bottom: 20px;
        text-align: center;
        
        @include media-breakpoint-up(lg) {
            margin-bottom: 0;
            text-align: left;
        }

        * {
            color: rgba($white, .85);
        }

        h2 {
            font-size: 13px;
            line-height: 22px;
            font-weight: 500;
            
            @include media-breakpoint-up(lg) {
                font-size: 16px;
                line-height: 25px;
            }
        }

        p {
            font-size: 13px;
            line-height: 22px;
            font-weight: 300;
            margin-bottom: 0;

            @include media-breakpoint-up(lg) {
                font-size: 16px;
                line-height: 25px;
            }

            a {
                text-decoration: underline;
            }
        }
    }

    &__buttons {
        a {
            border: 1px solid $white;
            color: $white;
            background: transparent;
            font-size: 14px;
            line-height: 22px;
            padding: 8px 25px;
            height: 42px;
            letter-spacing: 1px;
            text-transform: uppercase;
            
            @include media-breakpoint-up(lg) {
                padding: 10px 25px;
                height: 57px;

                font-size: 16px;
                line-height: 25px;
            }
        }
    }
}