.c-small-modal {
    @include flex-center;
    position: fixed;
    z-index: $z-modal;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow: scroll;
    background: rgba($black, .7);
    opacity: 0;
    visibility: hidden;
    
    &__inner {
        position: relative;
        width: 630px;
        background: $beige;
        max-width: 90%;
        max-height: 90%;
        overflow: scroll;
    }

    &__close {
        position: absolute;
        top: 15px;
        right: 20px;
        width: 35px;
        height: 35px;
        
        @include media-breakpoint-up(lg) {
            top: 25px;
            right: 35px;
            width: 47px;
            height: 47px;
        }
    }

    &__content {
        text-align: center;
        padding: 60px 25px 30px;

        @include media-breakpoint-up(lg) {
            padding: 36px 90px;
        }

        h1 {
            font-size: 22px;
            line-height: 24px;
            max-width: 80%;
            margin: 0 auto 40px;
            
            @include media-breakpoint-up(md) {
                max-width: 380px;
                font-size: 30px;
                line-height: 32px;
            }
        }

        h2, h3, h4 {
            font-size: 16px;
            line-height: 18px;
            letter-spacing: 1px;
            margin-bottom: 0;
            margin-top: 12px;
            text-transform: uppercase;

            @include media-breakpoint-up(lg) {
                font-size: 20px;
                line-height: 22px;
                letter-spacing: 1.3px;
            }
        }

        a:not(.c-btn) {
            text-decoration: underline;
        }
    }
}